body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

nav span a {
  color: white;
}
